body {
    font-family: 'Konkhmer Sleokchher', cursive;
    background-image: url(images/home.png);
    color: white;
}


main {
    display: flex;
    justify-content: center;
    height: auto;
    text-align: center;
    
}

form {
    width: 500px;
    height: auto;

    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 30px;
    border: 1px gray solid;
    border-radius: 10px;

    background-color: black;
    font-size: 13px;


}

#name,
#surname,
#username,
#email,
#password,
#confirm_password{

    margin: 0 33%;
}

#log{
    color:white;
}
form div img {
    width: 10px;
    height: 10px;
    margin-right: 0px;
}

form p {
    display: flex;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 0;
    margin-top: 10;


}

form p label {
    padding: 0;
}

.hidden {
    display: none;
    color: red;
    font-size: 12px;
    text-align: left;
}



form p input {
    border-radius: 5px;
    padding: 3px;
    border: black 2px solid;


}

form p input:hover {
    border: white 2px solid;
}

.submit {
    margin: 30;
}

.submit input {
    width: 180px;
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    border: 2px black solid;
    padding: 5px;
    background-color: lightskyblue;
}

.submit input:hover {

    border: 2px lightskyblue solid;
    font-size: 14px;

}

#icona {
    width: 100px;
    height: 90px;
    align-content: center;
    margin-top: 0px;
}

.error {
    color:red;
    display: block;
}

@media(max-width:300px){
    form{
        width:auto;
        padding:15px;
    }
}